.accordionItem {
    display: block;
    margin: auto;
}

.accordionItemHeading {
    cursor: pointer;
    margin: auto;
    color: rgb(255, 235, 0);
    background-color: rgb(35,155,35);
    border-style: solid;
    border-color: rgb(0,0,0);
    border-width: 0.5vw;
}

.close .accordionItemContent {
    height: 0;
    -webkit-transition: height 1s ease-out;
    -o-transition: height 1s ease-out;
    transition: height 1s ease-out;
    -webkit-transform: scaleY(0);
    -o-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    display: block;
}

.open .accordionItemContent {
    display: block;
    border-style: solid;
    border-color: rgb(0,0,0);
    border-width: 0.5vw;
    padding: 5vw;
    -webkit-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: top;
    -o-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transition: -webkit-transform 1s ease-out;
    -o-transition: -o-transform 1s ease;
    -ms-transition: -ms-transform 1s ease;
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    -o-transition: transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;
}