<!DOCTYPE html>
<html lang="en-GB">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/96276fa2dd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>SCVAC League</title>
</head>

<body>

    <header>
        <a href="http://www.scvac.org.uk/" target="_blank">
            <img src="static/img/logo_placeholder.png" alt="SCVAC logo" id="logo">
        </a>
        <div id="title">
            <h1>SCVAC League Western Division</h1>
        </div>
    </header>

    <nav class="menu">
        <!-- Hamburger icon to toggle the mobile navigation links -->
        <a href="javascript:void(0);" class="icon" onclick="reveal()">
            <i class="fas fa-bars"></i>
        </a>
        <!-- Navigation links hidden by default for mobile -->
        <div id="links">
            <a href="home.html">Home</a>
            <a href="{{ url_for('matches') }}">Matches</a>
            {% if session.user %}
                <a href="{{ url_for('newmatch') }}">Create Match</a>
            {% endif %}
            <a href="teams.html">Teams</a>
            {% if session.user %}
                <a href="newathlete.html">Declare Athlete</a>
                <a href="newteam.html">Declare Team</a>
            {% endif %}
            <a href="results.html">Results</a>
            {% if session.user %}
                <a href="newresults.html">Post Results</a>
            {% endif %}
            <a href="rankings.html">Rankings</a>
            <a href="gallery.html">Gallery</a>
            {% if session.user %}
                <a href="newimage.html">Share Image</a>
            {% endif %}
            {% if session.user %}
                <a href="{{ url_for('logout') }}">Log Out</a>
                <a href="{{ url_for('profile', username=session['user']) }}">Profile</a>
            {% else %}
                <a href="{{ url_for('register') }}">Register</a>
                <a href="{{ url_for('login') }}">Log In</a>
            {% endif %}
        </div>
    </nav>

    <section>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="flash">
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    
    <footer>

    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>