{% extends "base.html" %}
{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}" type="text/css">

    <h1>Log In</h1><br>

    <aside>
        <p>If you're new to the site, please <a href="{{ url_for('register') }}">register here.</a></p><br>
    </aside>

    <form method="POST" action="{{ url_for('login') }}">
        <div>
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
        </div>
        <div>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
        </div>
        <div class="submit">
            <input type="submit" value="Log In">
        </div>
    </form>
    
{% endblock %}
